<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292806550582-6n5k31m6vjhc78evrcum2qdv9u01fsro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292806550582-6n5k31m6vjhc78evrcum2qdv9u01fsro</string>
	<key>API_KEY</key>
	<string>AIzaSyDPWF5UxweG4fdlryHy4wKfi2zIHCHkL84</string>
	<key>GCM_SENDER_ID</key>
	<string>292806550582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coocklen.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>coockleen2</string>
	<key>STORAGE_BUCKET</key>
	<string>coockleen2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292806550582:ios:5bb7e7cc3edba2aff02497</string>
</dict>
</plist>